#wrap {
  width: 1320px;
  margin: 0 auto;
}

#wrap #header {
  position: relative;
  height: 60px;
}

#wrap #header #top_logo {
  float: left;
}

#wrap #header #top_logo a {
  height: 60px;
  line-height: 60px;
}

#wrap #header #top_nav {
  position: relative;
  height: 60px;
  float: right;
}

#wrap #header #top_nav ul {
  float: left;
}

#wrap #header #top_nav ul li {
  position: relative;
  float: left;
  margin-left: 30px;
}

#wrap #header #top_nav ul li:first-child {
  margin-left: 0;
}

#wrap #header #top_nav ul li a {
  line-height: 60px;
  height: 60px;
}
