//서브페이지
body.subpage{
  main{
    .container{
      margin-top: 60px;
      display: flex;
      //왼쪽메뉴
      #lnb{
        flex: 230px;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 50px;
        ul{
          li{
            border-bottom: 1px solid $HeaderBg;
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
              line-height: 50px;
              font-size: $fontSizeMid;
              box-sizing: border-box;
              transition: 0.5s;
              color: $govasonBg;
              &:hover{
                padding-left: 20px;
              }
              &.on{
                color: white;
                background: $gbtnColor;
                padding-left: 20px;
              }
            }
          }
        }
      }
      // content
      .content{
        width: 100%;
        &.margin_top_padding{
          margin-top: -70px;
        }
        &.100with{
          width: 100%;
        }
      }
      //sub page title 영역
      .sub_title{
        span{
          position: relative;
          display: inline-block;
          padding-bottom: 8px;
          line-height: 43px;
          color: $fontColorTitle;
          &:after{
            content: '';
            position: absolute;
            height: 3px;
            background: $HeaderBg;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
      //page content 영역
      .inner{
        .box{
          flex-wrap: wrap;
          .items{
            padding: 50px 0;
            &.padding_0px{
              padding: 0px;
            }
          }
        }
      }
    }
  }
  .govasonIS{
    width: 1056px;
    height: 300px;
    background-image: url('../img/govasonIS/govason_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    }
    .tit_wrap{
      width: 1056px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title{
        color: #fff;
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 5px;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        color: #f1f1f1;
        margin-bottom: 20px;
      }
      .border{
        border-bottom: 1px solid $borerPrimary;
      }
    }
    .main_2{
    }
  .content{
    .inner{
      .items{
        h2{
          display: block;
          width: auto;
          height: auto;
          text-align: left;
          line-height: 50px;
        }
        .img_wrap{
          margin-top: 40px;
          width: 100%;
          height: 300px;
          display: flex;
          justify-content: space-between;
          .img_item{
            width: 300px;
            height: 300px;
            overflow: hidden;
            box-sizing: border-box;
            background-size: cover;

            .title{
              margin-top: 10px;
              text-align: center;
              font-weight: 600;
              font-size: 24px;
              &.menu_tit{
                font-size: 18px;
              }
            }
            .item_img{
              width: 300px;
              height: 250px;
              overflow: hidden;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              overflow: hidden;
              transition: 5s;
              mix-blend-mode: multiply;
              transform: scale(1.1);
              border: 1px solid white;
              &.gova01{
                background-image: url('../img/govasonIS/govason_01.jpg');
                background-position: center center;
                background-size: cover;
              }
              &.gova02{
                background-image: url('../img/govasonIS/govason_02.jpg');
                background-position: center bottom;
                background-size: cover;
              }
              &.gova03{
                background-image: url('../img/govasonIS/govason_03.jpg');
                background-position: center center;
                background-size: cover;
              }
              &.espresso_01{
                background-image: url('../img/menu/espresso_01.jpg');
              }
              &.espresso_02{
                background-image: url('../img/menu/espresso_02.jpg');
              }
              &.espresso_03{
                background-image: url('../img/menu/espresso_03.jpg');
              }
              &.espresso_04{
                background-image: url('../img/menu/espresso_04.jpg');
              }
              &.espresso_05{
                background-image: url('../img/menu/espresso_05.jpg');
              }
              &.espresso_06{
                background-image: url('../img/menu/espresso_06.jpg');
              }
              /*drink*/
              &.drink_01{
                background-image: url('../img/menu/drink_01.jpg');
              }
              &.drink_02{
                background-image: url('../img/menu/drink_02.jpg');
              }
              &.drink_03{
                background-image: url('../img/menu/drink_03.jpg');
              }
              &.drink_04{
                background-image: url('../img/menu/drink_04.jpg');
              }
              &.drink_05{
                background-image: url('../img/menu/drink_05.jpg');
              }
              &.drink_06{
                background-image: url('../img/menu/drink_06.jpg');
              }
              &.drink_07{
                background-image: url('../img/menu/drink_07.jpg');
              }
              &.drink_08{
                background-image: url('../img/menu/drink_08.jpg');
              }
              &.drink_09{
                background-image: url('../img/menu/drink_09.jpg');
              }
              &.drink_10{
                background-image: url('../img/menu/drink_10.jpg');
              }
              &.drink_11{
                background-image: url('../img/menu/drink_11.jpg');
              }
              &.drink_12{
                background-image: url('../img/menu/drink_12.jpg');
              }
              &.drink_13{
                background-image: url('../img/menu/drink_13.jpg');
              }
              &.drink_14{
                background-image: url('../img/menu/drink_14.jpg');
              }
              &.drink_15{
                background-image: url('../img/menu/drink_15.jpg');
              }
            }
          }
        }
      }
    }
  }
}//
.table_wrap{
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #e9e9e9;
}

/*product*/
.product{
  .coffe_txt{
    margin-top: 50px;
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-left: 20px;
    text-align: center;
    float: left;
    cursor: pointer;
    background: #f1f1f1;
    border-radius: 15px;
    p{
      text-align: left;
    }
    &.w_bg{
      background: #fff;
    }
    &.txt_left{
      align-items: flex-start;
      text-align: left;
      line-height: 30px;
    }
    &.none_bg{
      background: $bodyBg;
    }
    &.title_bg{
      margin: 50px 0;
      width: 100%;
      height: 100px;
      background-color:$fontColorGnb;
      color: #f1f1f1;
      border-radius: 0;
      h3{
        color: $fontColorHover;
      }
      em{
        color:#f1f1f1;
      }
    }
    h3{
      color: $fontColorGnb;
      text-align: left;
    }
    em{
      font-size: 12px;
      color: $govasonBg;

      &.only_menu_txt{
        color: $fontColorHover;
        font-size: 11px;
        padding-left: 5px;
      }
    }
    p{
      margin-top: 0;
      font-size: 15px;
    }
    &:first-child{
      margin-left: 0;
    }
    &:nth-child(4){
      margin-left: 0;
    }
    &:nth-child(7){
      margin-left: 0;
    }
    &:nth-child(10){
      margin-left: 0;
    }
  }
  .post{
    margin-top: 50px;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 15px;
    &:first-child{
      margin-left: 0;
    }
    .gbtn{
      position: absolute;
      width: 300px;
      height: 50px;
      line-height: 50px;
      bottom: 0;
      &:hover{
        border: 0;
      }
    }
    &:hover .post_txt{
      width: 300px;
      height: 340px;
      opacity: .7;
    }
    img{
      display: inline-block;
      width: 100%;
      height: 100%;
      background-size: cover;
      &:hover{
        background-size: 1.2px;
      }
    }
    .post_txt{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 300px;
      bottom: 0;
      padding: 0 30px;
      background: $govasonBg;
      box-sizing: border-box;
      transition: .5s;
      opacity: 0;
      cursor: pointer;
      .sub_dd{
        color:#f1f1f1;
      }
    }
  }
  #menu_content{
    margin-top: 40px;
    position: relative;
    border-top: 1px solid #e9e9e9;
      #menu_wrap{
      margin-top: 120px;
      position: relative;
      input{
        display: none;
        &:checked + label{
          display: inline-block;
          margin-right: 20px;
          padding: 2px 20px;
          border: 1px solid $gbtnColor;
          border-bottom: none;
          background-color: $gbtnColor;
          border-radius: 15px;
          color: #f1f1f1;

        }
      }
      label{
        display: inline-block;
        margin-right: 20px;
        padding: 2px 20px;
        border: 1px solid #e9e9e9;
        border-radius: 15px;
        color: $fontSubColor;
        cursor: pointer;
      }
    }
  }
  section{
    display: none;
    width: 100%;
    height: auto;
    &.govasonIS{
      margin-top: 0;
    }
    .img_wrap{
      margin-top: 30px;
    }
  }
}

/*product menu_wrap*/
#menu_wrap{
  #m_tap1:checked ~ section#content1{
    display: block;
    .notice_dd{
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      color: #707070;
    }
  }
  #m_tap2:checked ~ section#content2{
    display: block;
  }
  #m_tap3:checked ~ section#content3{
    display: block;
    .notice_dd{
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      color: #707070;
    }
  }
  #m_tap4:checked ~ section#content4{
    display: block;
  }
  #m_tap5:checked ~ section#content5{
    display: block;
  }
}

/*menu item_img*/

.bottom_banner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background-image: url('../img/main/main_foot.jpg');
  background-position: center center;
  background-attachment: fixed;
  font-size: 30px;
  color: #fff;
  h3{
    font-size:18px;
  }
  p{font-size: 14px;text-align: center;margin-top: 2px;}
}

.txt_left{
  text-align: left;
}

.2_box_wrap{
  width: 100%;
  height: 50px;
  background: red;
}

#coffe_info_wrap{
  position: relative;
  width: 100%;
  height: 300px;
  .cInfo_items{
    position: relative;
    width: 50%;
    float: left;
    &:nth-child(1){
      width: 30%;
    }
    &:nth-child(2){
      width: 70%;
      padding-top: 60px;
      text-align: right;
      line-height: 25px;
    }
    img{
      width: auto;
      margin-bottom: 15px;
      margin-right: 80px;
      &:nth-child(even){
        margin-right: 0;
      }
    }
  }
}
body.subpage .content .inner .items .img_wrap{
  margin-top: 100px;
}
