//메인페이지
.mainbanner{
  height: 550px;
  margin-top: 60px;
  background: url('../img/main_banner.jpg') no-repeat;
  background-size: cover;
}

.inner{
  &:nth-child(1){
    margin-top: 50px;
  }
  &:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background-image: url('../img/main/main_foot.jpg');
    background-position: center center;
    background-attachment: fixed;
    font-size: 30px;
    color: #fff;
    &:after{
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
    }
    p{
      font-size: 14px;
      text-align: center;
    }
  }
}

.main_2{
  .post{
    position: relative;
    width: 340px;
    height: 340px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    .gbtn{
      position: absolute;
      width: 340px;
      height: 50px;
      line-height: 50px;
      bottom: 0;
      &:hover{
        border: 0;
      }
    }
    &:hover .post_txt{
      width: 340px;
      height: 340px;
      opacity: .7;
    }
    img{
      display: inline-block;
      width: 100%;
      height: 100%;
      background-size: cover;
      &:hover{
        background-size: 1.2px;
      }
    }
    .post_txt{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 340px;
      height: 340px;
      bottom: 0;
      padding: 0 30px;
      background: $govasonBg;
      box-sizing: border-box;
      transition: .5s;
      opacity: 0;
      cursor: pointer;
      .sub_dd{
        color:#f1f1f1;
      }
    }
  }
}
