//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//color

//background color
$layoutBg: #fff3c4;
$govasonBg: #251e1a;
$HeaderBg: #02542b;
$bodyBg: #f8f8f8;

//font color
$fontColorBasic: #666666;
$fontSubColor: #707070;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;
$fontColorGnb: #02542b;
$fontColorTitle: #02542b;

//border color
$borderColorPrimary: #b8944d;
$borerPrimary: #02542b;
$borderSubmenu: #f8f8f8;

//button color
$gbtnColor: #02542b;
$gbtnColorHover: #e3a936;
